<div class="movie-card">
  <img src="" class="card-img-top" alt="<%= movie.title %>">
  <div class="card-body">
    <span class="movie-card-text">&#11088 <strong><%= movie.rating %></strong></span>
    <%= link_to movie_path(movie), class: 'movie-card-link', data: { turbo: false } do %>
      <h5 class="movie-card-text"><%= movie.title %></h5>
    <% end %>
    <span class="movie-card-text"><strong><%= movie.category %></strong></span>
  </div>
</div>
