<div class="black-card">
  <img src="" class="card-img-top" alt="<%= movie.title %>">
  <div class="card-body">
    <span class="black-card-text">&#11088 <strong><%= movie.rating %></strong></span>
    <%= link_to movie_path(movie), class: 'black-card-link' do %>
      <h5 class="black-card-text"><%= movie.title %></h5>
    <% end %>
    <span class="black-card-text"><strong><%= movie.category %></strong></span>
  </div>
</div>
