<div class="container">
  <div class="row justify-content-start">
    <h1 class="col-sm-9 p-3 movie-text"><%= @movie.title %></h1>
    <div class="col-3 p-3 mb-2" id="rate-movie-link">
      <div class="no-wrap-row justify-content-around align-items-center">
        <%= link_to 'Rate movie', new_movie_rating_path(@movie), class: 'btn btn-light', data: { turbo_frame: 'rate-movie-frame' } %>
        <div class="no-wrap-row align-items-center">
          <h1 class="star-color"><i class="bi bi-star-fill"></i></h1>
          <p class="movie-text ms-2"><%= @movie.rating %> / 10</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-9">
    <% if @movie.image.attached? %>
      <%= image_tag @movie.image.variant(resize_to_limit: [600, 600]) %>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag 'rate-movie-frame' do %>
<% end %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", root_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
