<%= turbo_frame_tag 'rate-movie-frame' do %>
  <div class="position-fixed top-50 start-50 translate-middle rate-pop-up" data-controller="rate">
    <h6 class="movie-text">Rate this</h6>
    <h5 class="movie-text"><%= @movie.title %></h5>

    <%= form_for [@movie, @rating] do |f|%>
      <div>
        <% (1..10).each do |num| %>
          <%= f.radio_button :points, num, id: "radio-button-#{num}",
            class: 'not-displayed', data: { action: 'change->rate#chooseRate', rate_number_param: num } %>
          <label for="radio-button-<%= num %>"><h5><i data-rate-target="rateStar" data-number="<%= num %>" class="bi bi-star movie-text"></i></h5></label>
        <% end %>
      </div>
      <div>
        <%= f.submit 'Rate', class: 'btn btn-outline-primary disabled', data: { rate_target: 'rateBtn' } %>
      </div>
    <% end %>
  </div>
<% end %>
