<%= form_for movie, url: admin_movies_path do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.collection_select :category, Movie.defined_enums['category'], :first, :first %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :trailer, style: "display: block" %>
    <%= form.file_field :trailer %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
