<div class="container">
  <div class="row justify-content-start">
    <h1 class="col-sm-9 p-3 movie-text"><%= @movie.title %></h1>
    <div class="col-3 p-3 mb-2" id="rate-movie-link">
      <div class="no-wrap-row justify-content-around align-items-center">
        <div class="no-wrap-row align-items-center">
          <h1 class="star-color"><i class="bi bi-star-fill"></i></h1>
          <p class="movie-text ms-2"><%= @movie.rating %> / 10</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="no-wrap-row align-items-center">
    <div class="col-4">
      <% if @movie.image.attached? %>
        <%= image_tag @movie.image.variant(resize_to_limit: [600, 600]) %>
      <% end %>
    </div>
    <div class="col-9">
      <% if @movie.trailer.attached? %>
        <%= video_tag url_for(@movie.trailer), size: "1000x400", controls: true %>
      <% end %>
      <p class="movie-text ms-4 mt-4 text-lg-start text-break"><%= @movie.text %></p>
    </div>
  </div>
</div>

<%= link_to 'Delete this movie', admin_movie_path(@movie), data: { turbo_method: :delete } %>
